commands:
  01_install_build_tools:
    command: |
      if ! php -m | grep -q sodium; then
        "dnf install -y php8.2-devel php-pear gcc gcc-c++ autoconf automake make"
      fi
  02_wget_libsodium:
    command: |
      if ! php -m | grep -q sodium; then
        wget https://download.libsodium.org/libsodium/releases/LATEST.tar.gz
      fi
  03_extract_libsodium:
    command: |
      if ! php -m | grep -q sodium; then
        tar -xvzf LATEST.tar.gz
      fi
  04_change_directory:
    command: |
      if ! php -m | grep -q sodium; then
        cd /libsodium-stable
      fi
  05_configure_libsodium:
    command: |
      if ! php -m | grep -q sodium; then
        /libsodium-stable/configure
      fi
  06_make_libsodium:
    command: |
      if ! php -m | grep -q sodium; then
        make && make check
      fi
  07_install_libsodium:
    command: |
      if ! php -m | grep -q sodium; then
        make install
      fi
  08_install_libsodium:
    command: |
      if ! php -m | grep -q sodium; then
        pecl install -f libsodium
      fi

