files:
    "/etc/cron.d/cron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root . /usr/local/bin/cron.sh

    "/usr/local/bin/cron.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            /usr/local/bin/drush cron --root=/var/app/current

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/cron.bak"
