###############################################################################
## After installing drupal, get the name of the sync config directory from
## /var/app/current/sites/default/settings.php on the instance.
###############################################################################
option_settings:
  aws:elasticbeanstalk:application:environment:
    SYNC_DIR: sites/default/files/config_U9URGGdtItfL4uOHApYuPTcdEg-REI8yahLuFfkJQhBGsfCaWOOWQvYn4ZWd-gUAo7N1dmz3Iw/sync

container_commands:
  1wget:
    command: "wget -O drush.phar https://github.com/drush-ops/drush-launcher/releases/latest/download/drush.phar"
  2chmod:
    command: "chmod +x drush.phar"
  3move:
    command: "sudo mv drush.phar /usr/local/bin/drush"
